
 #container{
    width: 130px;
    background-color: black;    
}   

.tamanho{
    display: inline-block;
    width: 60px;
    height: 60px;
    position:relative;
    border-radius: 5px;
}

.cor{
    background-color: gray;
}

.cel{
    width: 60px;
    height: 60px;
    position: center;
 }
